<div class="jumbotron home-search" style="">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="main_description">The Social Helping Economy</h1>
                <br><br>
<br />
                                <div class="row">
                    <div class="col-sm-12" style="text-align: center">
                        <% if user_signed_in? %>
                            <a href="<%= new_user_task_path(@current_user) %>" class="btn btn-primary front-btn">I need help</a>
                        <% else %>
                            <a href="<%= signin_path %>" class="btn btn-primary front-btn">I need help</a>
                        <% end %>
                    </div>
                </div>     
                <br />      
                <div class="row">
                    <div class="col-sm-12" style="text-align: center">
                        <a href="<%= tasks_path %>" class="btn btn-primary2 front-btn">I can help</a>
                    </div>
                </div>          
                <br />

                <br />
                <div class="row">
                    <div class="col-sm-12" style="text-align: center">

                        <div id="quotes">
                            <div class="text-item" style="display: none;">Great! <strong>Vince</strong> just got his <strong>washing machine</strong> fixed by <strong>Jack</strong></div>
                            <div class="text-item" style="display: none;"><strong>Julia</strong>  <strong> passed her exam</strong> thanks to <strong>Jordan</strong></div>
                            <div class="text-item" style="display: none;">Success! <strong>Paul</strong> just saved <strong>lots of money</strong> thanks to Billy</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">


    <div class="row directory">     
    <div class="col-sm-12 ">
                    <h2><span>What is Faircoin?</span></h2>
    </div>
    </div>
    <div class="row">

                        <div class="col-sm-4">
                            <div style="text-align: center;">
                                <img src="assets/images/icons/Faircoin.png" width="149"/>
                            </div>
                            <h2 style="text-align: center;">Virtual Economy</h2>
                            <p style="text-align: center;">Help out each other for karma points</p>
                            <br />
                            <br />
                        </div>


                        <div class="col-sm-4">
                            <div style="text-align: center;">
                                    <img src="assets/images/icons/Share.png" width="128"/>
                            </div>
                            <h2 style="text-align: center;">Share Services</h2>
                            <p style="text-align: center;">Give help in order to receive help. Making the world better, one Faircoin at a time.</p>
                            <br />
                            <br />
                        </div>

                        <div class="col-sm-4">
                            <div style="text-align: center;">
                                <img src="assets/images/icons/Crest.png" width="100"/>
                            </div>
                            <h2 style="text-align: center;">Get rewards</h2>
                            <p style="text-align: center;">Collect Faircoins and redeem them for rewards.</p>
                            <br />
                            <br />
                        </div>

    </div>  


    <div class="row">
        <div class="col-sm-12">
                <div class="row directory">
                <div class="col-sm-12 ">
                    <h2><span>They trusted in us</span></h2>
                </div>
                </div>
                
            <div id="block" style="float: left;">
        <div class="photo">
            <img src="http://i.imgur.com/L5H6rlb.png" alt="" class="photo-bg"/>
            <img src="http://i.imgur.com/j6mIQ2b.jpg" alt="" class="photo" />
        </div>
        <p class="content"><span class="laquo">&nbsp;</span>Thanks to the helping community, I was able to get my dishwasher fixed when I couldn´t afford it.<span class="raquo">&nbsp;</span></p>
        <div class="sign">
            <a href="#">Jay Hafling</a>
            <p>Freelance pineapple seller</p>
        </div>
    </div>
    
            <div id="block" style="float: right;">
        <div class="photo">
            <img src="http://i.imgur.com/L5H6rlb.png" alt="" class="photo-bg"/>
            <img src="http://static.parade.condenast.com/wp-content/uploads/2009/04/john-b-french.jpg" alt="" class="photo" />
        </div>
        <p class="content"><span class="laquo">&nbsp;</span>I love Faircoins! This community has helped me so much when I have been in a financial rut.. thanks!!<span class="raquo">&nbsp;</span></p>
        <div class="sign">
            <a href="#">Mike McDonald</a>
            <p>Freelance Pirate</p>
        </div>

        </div>
        </div>
    
    </div>
    
        </div>

<div class="footer">
    <div class="container">
        <div class="row">

            <div class="col-sm-4 col-xs-12">
                <p><strong>&copy; Faircoin 2014</strong></p>
                <p>All rights reserved</p>
            </div>          

            <div class="col-sm-8 col-xs-12">    
            </div>
        </div>
    </div>
</div>