<%= form_for @proposal do |f| %>
  <p>Bid:</p>                       <%= f.number_field :price, label: "Price" %>
  <p>Description:</p>               <%= f.text_field :description, label: "Description" %> <br />
  <%= f.submit 'Create' %>
<% end %>
